<!DOCTYPE HTML>
<html>
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Balances:</p>
<a href="/main">Main page</a>
<form action="/logout" method="POST">
	<input type="hidden" name="_csrf" value="{{_csrf.token}}">
	<input type="submit" value="Log Out">
</form>
</body>
</html>