<!DOCTYPE HTML>
<html>
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Edit balance:</p>
<form action="/u/{{user.id}}" method="POST">
	<input type="hidden" value="{{_csrf.token}}" name="_csrf">
	<input type="hidden" value="{{balance.id}}" name="sourceId">
	<br/>
	<label>Change balance name:
		<input type="text" name="name" value="{{balance.name}}"/>
	</label>
	<br/>
	<label>Change balance amount:
		<input type="number" step="0.01" name="doubleAmount" value="{{balance.doubleAmount}}"/>
	</label>
	<br/>
	<label>
		<input type="radio" name="isLocked" value="true" {{#balance.isLocked}}checked{{/balance.isLocked}}/>
		: Locked
	</label>
	<br/>
	<label>
		<input type="radio" name="isLocked" value="false" {{^balance.isLocked}}checked{{/balance.isLocked}}/>
		: Unlocked
	</label>
	<br/>
	<input type="submit" value="Save" />
</form>
</body>
</html>