<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
</head>
<body>
Sign in:
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username"/>
	<br/>
	<input type="password" name="password" placeholder="Password"/>
	<br/>
	<input type="submit" value="Sign In"/>
	<input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>
<a href="/registration">Sign up</a>
</body>
</html>