<!DOCTYPE HTML>
<html>
<head>
	<title>User list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
List of users:

<table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Role</th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	{{#users}}
		<tr>
			<td>{{username}}</td>
			<td>{{roles}}</td>
			<td><a href="users/{{id}}">Edit Profile</a></td>
			<td><a href="/u/{{id}}">Balances</a></td>
		</tr>
	{{/users}}
	</tbody>
</table>
</body>
</html>