<!DOCTYPE HTML>
<html>
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/login">Sign in</a>
<a href="/registration">Sign up</a>
<p>Welcome!</p>
<a href="/main">Main page</a>

</body>
</html>